*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width:100%;
    background-color: white;
    /* position:relative; */
    
   

}
.header{
   display: flex;
    border:0.2em solid #155EEF;
    margin:1.25em   10em;
    border-radius: 0.625em;
    font-size: 0.625em;
    font-family: sans-serif;
    font-weight: bold;
    padding:0.625em  0.625em 0em 1.25em;
    width:80%;

}
.img1{
    width:28.125em;
    height:18.75em;

}
.img2{
    border-top:0.063em solid #155EEF;
    border-bottom: 0.063em solid #155EEF;
    border-left: 0.063em solid #155EEF;
    padding:0.313em;
    margin:1.563em 0em;
}

.nav{
 display:flex;
 padding-left:60%;
 gap:10em;
 font-family: 'Halant';
 font-style: normal;
 font-weight: 500;
 font-size:0.645em;
 line-height:1.5em ;


}
.h2{
   padding-top: 0.625em;
}
.h1{
    border:0.263em solid #155EEF;
    color: #155EEF;
    width:6.25em;
    border-radius:0.625em;
    letter-spacing: 0.031em;
    margin-bottom:0.875em;
    font-family: 'Halant';
    font-style: normal;
    font-weight:bold;
    font-size:1em;
    line-height: 1.5em;
    padding:1.025em 0.625em;
    
  

}
.right>h1{
    padding-bottom: 0.8em;
}
.right>p{
font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 1em;
line-height: 150%;
text-align: justify;
letter-spacing: 0.031em;
}
.main{
    display:flex;
    align-items: center;
    justify-content: space-around;
    border:0.125em solid #155EEF;
    margin-top:0.313em ;
    margin-bottom: 1.875em;
    margin-left:6.25em ;
    margin-right: 6.25em;
    border-radius: 0.5em;
    width:80%;

}
.left>p{
    
font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 1em;
line-height: 150%;
letter-spacing: 0.031em;
padding-bottom: 1.875em;

}
.subs{
    background-color: #155EEF;
    margin-bottom:2.5em ;
    padding:0.625em;
    color: white;
    border:0.125em solid #155EEF;
    border-radius: 0.313em;
    width: 12.5em;
}
.left{
    max-width:40%;
    
}
.left>h5{
    padding-bottom:0.875em;
}
.left>h1{
    color:#155EEF;
    padding-bottom: 0.6em;
    
}
.body{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    border:0.125em solid #155EEF;
    margin:1.25em 6.25em;
    border-radius: 0.5em;
    width:80%;
}
.right{
    max-width:40%;
}
.footer{
    display:flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    margin: 1.875em 6.25em;
    border: 0.125em solid #155EEF;
    border-radius: 0.5em;
    padding: 0em 1.25em;
    width:80%;



}
.right--footer{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 1.125em;
    line-height: 150%;
    letter-spacing: 0.031em;
    color: #041330;
}
.ig{
  padding-right:1.25em;
}
.fb{
    padding-left: 1.25em;
}
.img{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 1.25em 0em;
}
.after-body{
    display:flex;
    position:relative;
    align-items: center;
    justify-content: space-around;
    border:0.125em solid #155EEF;
    margin-top:0.313em ;
    margin-bottom: 1.875em;
    margin-left:6.25em ;
    margin-right: 6.25em;
    border-radius: 0.5em;
    width:80%;
    border: 2px solid #155EEF;
    border-radius: 8px;
    height:25em;

}
 .after-body>img{
  
    width:28.125em;
    height:18.75em;
    margin:5em 0em 0em 33em;
} 
.project{
display: flex;
position:absolute;
flex-direction: column;
align-items: flex-start;
padding: 32px 5px;
width: 40em;
left: 0.4em;
top: 2em;
background-color: rgb(222, 222, 222);
border:2px solid rgb(222, 222, 222);
font-family: 'Manrope';
font-style: normal;
font-weight: 400;
line-height: 120%;
z-index:1;
}
.after-body>h1{
font-family: 'Halant';
font-style: normal;
font-weight: 600;
font-size:10px;
line-height: 120%;
}
ul{
    padding-left: 30px;
}





